.MainChat
  .ChatHeader
    .ChatContent
      %p.ChatContent__title
        = @group.name
      .ChatContent__member
        %P Member :
        - @group.users.each do |user|
          = user.name

    .Edit
      = link_to edit_group_path(@group), class: "Edit--icon" do
        Edit

  .Messagesdisplay
    = render @messages
 
  .Footer
    = form_with model: [@group, @message], html: {class: "Form"}, local: true do |f|
      .Input
        = f.text_field :content, class: 'Input__message', placeholder: 'type a message'
        = f.label :image, class: 'Input__image' do
          = icon('far', 'image')
          = f.file_field :image, class: 'Input__image__icon'
      = f.submit 'Send', class: 'Input__send'  