.SideBar
  .SideHead
    .UserName
      .UserName__left
        = current_user.name
      .UserName__right
        = link_to new_group_path, class: 'UserName__right--edit' do
          = icon('far', 'edit', class: "UserName__right--edit")
          %span<>
        = link_to edit_user_path(current_user), class: 'UserName__right--cog' do
          = icon('fas', 'cog', class: "UserName__right--cog")

  .Chatlist
    - current_user.groups.each do |group|
      .Chatgroup
        = link_to group_messages_path(group), class: 'Chatgroup__link' do
          .ChatTitle
            = group.name
          .ChatMessage
            = group.show_last_message